<div id="user-published">
	<% if user_signed_in? %>
    <h3><span>Mis publicaciones</span> <a title="Ver todas mis publicaciones" href="#">Ver todas</a></h3>
    <ul>
        <li><a title="Variables de autos" href="#">Variables de autos</a></li>
        <li><a title="Bienvenidos al repositorio del proyecto" href="#">Bienvenidos al repositorio del proyecto</a></li>
    </ul>
	<% end %>
</div><!--end user-published-->