<% if user_signed_in? %>
<div id="user-published">
    <h3><span>Mis publicaciones</span> <%= link_to 'Ver todas', mypublications_path %></h3>
    <ul>
        <li></li>
    </ul>
</div><!--end user-published-->
<% end %>